html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1440px;
    margin: 30px auto 0px auto;
    overflow-x: hidden;
}

/* <!----------------------------Page Start----------------------------> */

