@import 'vendors/normalize';

/* <!------------------------------------------------------------------> */
/* <!----------------------------abstracts-----------------------------> */
/* <!------------------------------------------------------------------> */
$font-family: (
    title:Shrikhand,
    text:Roboto
);

// Color scheme used for the project
$color-scheme: (
    color-primary: #9356DC,
    color-secondary: #FF79DA,
    color-tertiary: #99E2D0,
    color-accent: #f5f5f5,
    color-white: #fff,
    color-default: #000000,
    color-gradient: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%),
    color-light-gradient: linear-gradient(0deg, lighten($color: #9356DC, $amount: 5%) 0%, lighten($color: #FF79DA, $amount: 5%) 100%)
);

// Color palettes used for different states
$txt-input-palette: (
    active: (bg: map-get($color-scheme, color-primary),
        txt: darken($color: map-get($color-scheme, color-primary), $amount: 20%)),
    hover: (bg: lighten($color: map-get($color-scheme, color-primary), $amount: 35%)),
    visited: (txt: map-get($color-scheme, color-default)),
);

@mixin txt-input-palette($palettes) {
    @each $state, $palette in $palettes {
        &:#{$state} {
            background-color: map-get($palette, bg);
            color: map-get($palette, txt);
            transition: .35s;
        }
    }
}

/* <!------------------------------------------------------------------> */
/* <!----------------------------layout--------------------------------> */
/* <!------------------------------------------------------------------> */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
}

body {
    max-width: 1440px;
    margin: 20px auto 0px auto;
    overflow-x: hidden;
    font-family: map-get($font-family, text), Helvetica;
    background-color: map-get($color-scheme, color-white);
}

.title {
    font-family: map-get($font-family, title), Arial;
    margin: 0px 0px 10px 0px;
    max-width: 400px;
}

/* <!----------------------------Page Start----------------------------> */
.header {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: map-get($color-scheme, color-accent);

    .nav__location {
        padding: 5px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        font-weight: 600;
        color: #3f3f3f;
        background-color: darken($color: map-get($color-scheme, color-accent), $amount: 5%);
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.227);

        .nav__location-icon {
            margin: 8px 15px 8px 0px;
        }

        p {
            margin: 8px 0px;
        }
    }

    .nav__explore-restaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 400px;

        .nav__header {
            margin: 36px 0px 16px;
            text-align: center;
            width: 100%;
            font-weight: 800;
        }

        p {
            text-align: center;
            max-width: 275px;
            width: 100%;
        }

        .nav__explore-button {
            background: map-get($color-scheme, color-gradient);
            color: map-get($color-scheme, color-white);
            box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.227);
            border-radius: 25px;
            padding: 15px 20px;
            margin: 10px;
            border: none;
            cursor: pointer;

            &:hover {
                background: map-get($color-scheme, color-light-gradient);
                box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.30);
            }
        }
    }
}

/* <!----------------------------Page Center---------------------------> */
.header-text {
    margin-left: 5%;
}

.instruction-text {
    margin-top: 36px;
    margin-left: 20px;
}

.instructions {
    width: 100%;
    margin: 10px 0px;
    padding-bottom: 20px;
}

.instructions__cards {
    background-color: map-get($color-scheme, color-accent);
    border-radius: 18px;
    padding: 28px 20px 22px 20px;
    margin: 20px 20px 20px 20px;
    font-weight: 600;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
    transition: .55;

    .instructions__numbered {
        font-weight: 400;
        width: 0px;
        padding: 2.5px 7.5px;
        border-radius: 60px;
        color: map-get($color-scheme, color-white);
        background-color: map-get($color-scheme, color-primary);
        position: relative;
        right: 31px;
    }

    .instructions__symbols {
        color: darken($color: map-get($color-scheme, color-accent), $amount: 40%);
        position: relative;
        right: 14px;
        font-size: 18px;

    }

    &:hover {
        @include txt-input-palette($txt-input-palette);

        .instructions__symbols {
            color: map-get($color-scheme, color-primary);
        }
    }
}

.main {
    margin: 10px 0px 0px;
    padding: 20px 0px 60px;
    width: 100%;
    background-color: map-get($color-scheme, color-accent);
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}

.restaurants__card {
    background-color: map-get($color-scheme, color-white);
    border-radius: 15px;
    width: 90%;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    color: #000000;
    transition: .5s;
    @include txt-input-palette($txt-input-palette);

    .restaurants_new-tag {
        background-color: map-get($color-scheme, color-tertiary);
        color: darken($color: map-get($color-scheme, color-tertiary), $amount: 40%);
        font-weight: 500;
        padding: 5px 7%;
        border-radius: 2px;
        position: absolute;
        left: 73%;
        top: 15px;
    }

    .restaurants__images {
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }

    h3 {
        margin: 10px 0px 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    p {
        margin: 0px 0px 10px 10px;
    }

    .favorite-icon {
        position: absolute;
        right: 42px;
        bottom: 42px;

        &:hover {
            .full-heart {
                opacity: 1;
            }

            .empty-heart {
                opacity: 0;
                transition: .35s;
            }
        }

        .empty-heart,
        .full-heart {
            position: absolute;
            font-size: 22px;
        }

        .full-heart {
            opacity: 0;
            transition: .35s;
            background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

    }
}

/* <!----------------------------Page End------------------------------> */
.footer {
    background-color: darken($color: map-get($color-scheme, color-accent), $amount: 78%);
    color: map-get($color-scheme, color-white);
    padding-top: 20px;

    .footer__title {
        padding-left: 20px;
        font-size: 17px;
    }

    ul {
        padding: 0px 0px 16px 20px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    li {
        margin: 8px 0px;

        .footer__icon {
            width: 15px;
            padding-right: 20px;
            font-size: x-small;
        }
    }

    a {
        color: map-get($color-scheme, color-white);
    }
}

/* <!----------------------------------------------------------------> */
/* <!-----------------------Restaurant Pages-------------------------> */
.back-arrow {
    font-size: 25px;
    color: map-get($color-scheme, color-default);
    align-self: left;

    &:hover {
        color: map-get($color-scheme, color-primary);
    }
}

.restaurant-page-image {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    margin-bottom: -.1%;
}

.meal-selection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1060px;
    position: relative;
    top: -50px;
    margin: 0px auto -50px;
    padding: 50px 30px;
    background-color: map-get($color-scheme, color-accent);
    border-radius: 50px 50px 0px 0px;

    .meal-selection__header {
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0px auto;
        max-width: 500px;

        h1 {
            font-size: 25px;
            margin-bottom: 0px;
            min-width: 210px;
        }
    }
}

.restaurant-page-favorite-icon {
    position: relative;
    width: 30px;

    &:hover {
        .full-heart {
            opacity: 1;
        }

        .empty-heart {
            opacity: 0;
            transition: .35s;
        }
    }

    .empty-heart,
    .full-heart {
        position: absolute;
        font-size: 30px;
    }

    .full-heart {
        opacity: 0;
        transition: .35s;
        background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.meal-course-text {
    font-weight: 400;
    font-size: 18px;
    margin: 30px auto 0px;
    width: 100%;
    max-width: 730px;
}

.underline {
    width: 45px;
    height: 3px;
    margin: 5px auto 0px 0px;
    background-color: map-get($color-scheme, color-tertiary);
}

.food-option {
    background-color: map-get($color-scheme, color-white);
    height: 70px;
    width: 100%;
    max-width: 730px;
    border-radius: 15px;
    margin: 10px auto;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;

    .content {
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        justify-content: space-between;
        padding: 15px 13px;
        width: calc(100% + 70px);
        transition: .5s;

        &:hover {
            width: calc(100% + 0px);

            .checkmark i {
                transform: rotate(2turn);
                transition: transform .5s;
            }
        }

        .food-text {
            flex: 1;
            overflow: hidden;
        }

        h3 {
            margin: 0px 0px 5px 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .food-option__cost {
            font-weight: 600;
            margin-left: 10px;
            align-self: flex-end;
        }

        .checkmark {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            background-color: map-get($color-scheme, color-tertiary);
            margin: -15px 0px;
            width: 70px;
            height: 70px;
            position: relative;
            right: -14px;
            border-radius: 0px 14px 14px 0px;

            i {
                color: map-get($color-scheme, color-tertiary);
                background: map-get($color-scheme, color-white);
                border-radius: 20px;
                width: 25px;
                height: 25px;
                padding: 11px;

                &::before {
                    position: relative;
                    top: -7px;
                    right: 6.5px;
                }
            }
        }
    }

}

.order-button {
    background: map-get($color-scheme, color-gradient);
    color: map-get($color-scheme, color-white);
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.227);
    border-radius: 35px;
    padding: 20px 0px;
    width: 60%;
    max-width: 230px;
    margin: 50px auto 10px;
    border: none;
    cursor: pointer;

    &:hover {
        background: map-get($color-scheme, color-light-gradient);
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.30);
    }
}

/* <!----------------------------------------------------------------> */
/* <!-------------------------Window Sizes---------------------------> */
/* <!----------------------------------------------------------------> */
@media all and (min-width: 768px) {
    .header-text {
        margin-left: 10%;
    }

    .nav__header {
        font-size: 30px;
    }

    .instruction-header {
        padding-top: 20px;
    }

    .instructions {
        margin: 10px 0px;
    }

    .instructions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .instructions__cards {
            width: 27%;
            margin-top: 0px;
            min-width: 300px;
        }
    }

    .restaurants {
        justify-content: space-evenly;
        flex-direction: row;
    }

    .restaurants__card {
        width: 20%;
        min-width: 300px;
    }
}

/* <!----------------------------------------------------------------> */
@media all and (min-width: 992px) {
    .header-text {
        margin-left: 13%;
    }

    .instructions {
        margin: auto;
        width: 82%;
    }

    .main {
        padding-bottom: 30px;
    }

    .instructions__cards {
        width: 22%;
    }

    .restaurants {
        flex-direction: row;
        row-gap: 50px;
        margin: 0px 100px;
    }

    .restaurants__card {
        width: 40%;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        column-gap: 5%;
        padding: 35px 0px 5px;

        .footer__title {
            display: flex;
            align-items: center;
            margin: 0px 60px 0px 0px;
            padding: 0px;
            order: 1;
        }

        ul {
            display: flex;
            justify-content: right;
            width: 80%;
            column-gap: 3%;
            margin-right: 20px;
        }
    }
}