@import 'vendors/normalize';
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/typography';
@import 'components/buttons';
@import 'layout/footer';
@import 'layout/header';
@import 'pages/homepage';
@import 'pages/restaurant-pages';


@media all and (min-width: 768px) {
    .header-text {
        margin-left: 10%;
    }

    .introduction__header {
        font-size: 30px;
    }

    .instruction-header {
        padding-top: 20px;
    }

    .instructions {
        margin: 10px 0px;
    }

    .instructions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .instructions__cards {
            width: 27%;
            margin-top: 0px;
            min-width: 300px;
        }
    }

    .restaurants {
        justify-content: space-evenly;
        flex-direction: row;
    }

    .restaurants__card {
        width: 20%;
        min-width: 300px;
    }
}

/* <!----------------------------------------------------------------> */
@media all and (min-width: 992px) {
    .header-text {
        margin-left: 13%;
    }

    .instructions {
        margin: auto;
        width: 82%;
    }

    .main {
        padding-bottom: 30px;
    }

    .instructions__cards {
        width: 22%;
    }

    .restaurants {
        flex-direction: row;
        row-gap: 50px;
        margin: 0px 100px;
    }

    .restaurants__card {
        width: 40%;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        column-gap: 5%;
        padding: 35px 0px 5px;

        .footer__title {
            display: flex;
            align-items: center;
            margin: 0px 60px 0px 0px;
            padding: 0px;
            order: 1;
        }

        ul {
            display: flex;
            justify-content: right;
            width: 80%;
            column-gap: 3%;
            margin-right: 20px;
        }
    }
}