.footer {
    background-color: darken($color: map-get($color-scheme, color-accent), $amount: 78%);
    color: map-get($color-scheme, color-white);
    padding-top: 20px;

    .footer__title {
        padding-left: 20px;
        font-size: 17px;
    }

    ul {
        padding: 0px 0px 16px 20px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    li {
        margin: 8px 0px;

        .footer__icon {
            width: 15px;
            padding-right: 20px;
            font-size: x-small;
        }
    }

    a {
        color: map-get($color-scheme, color-white);
    }
}